body {
  margin: 0;
  padding: 0;

  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/index-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.navigation-wrapper {
  width: 100%;

  background-color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-wrapper > .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 640px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  width: 200px;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.logo img {
  width: 368px;
  height: 153px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  text-align: center;
  color: #f7f4f1;
}

.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-row {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-bg.jpg.jpg");
  background-repeat: repeat;
  background-position 0 0;
}

.index-row h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.appointment-form input {
  font: inherit;

  padding: 10px 15px;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-form input:hover,
.appointment-form input:focus,
.appointment-form input:active {
  border-color: #663d15;
}

.page-footer {
  color: #ffffff;

  background-color: #232323;
  background-image: url("../css/footer-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-footer a {
  text-decoration: none;
  color: #ffffff;
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  text-decoration: underline;
}

.social-list {
  text-align: center;
}

.social-button {
  color: #ffffff;

  width: 43px;
  height: 43px;

  background-color: #272727;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-bg.jpg.jpg");
  background-repeat: repeat;
  background-position 0 0;
}

.modal-login {
  padding: 55px 80px 60px;
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  padding: 9px 39px 8px 15px;

  background-color: transparent;
  border: 2px solid #000000;
}

.login-form input:focus,
.login-form input:hover {
  border-color: #663d15;
}

.login-checkbox:active {
  color: #663d15;
}

.login-password-info label {
  margin-left: 32px;
}

.password-restore {
  color: #000000;
  text-decoration: underline;
}

.password-restore:hover,
.password-restore:focus {
  text-decoration: none;
}
